body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Hide overflow */
    height: 100vh; /* Full viewport height */
    background-color: #202020; /* Dark background color */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Column direction */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    font-family: 'Arial', sans-serif; /* Font style */
    color: #00ffcc; /* Cyan text color */
}

h1 {
    font-size: 60px; /* Title font size */
    font-family: 'Jokerman', cursive; /* Title font style */
    background: -webkit-linear-gradient(#00ccff, #00ffcc); /* Gradient background for text */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make text color transparent */
    text-shadow: 0 0 20px rgba(0, 204, 255, 0.8), 0 0 30px rgba(0, 255, 204, 0.6); /* Text shadow effect */
    text-align: center; /* Center text */
    position: absolute; /* Absolute positioning */
    top: 20px; /* Position from the top */
}

#canvas {
    border: 2px solid white; /* White border around canvas */
    position: absolute; /* Absolute positioning */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

.scoreboard {
    position: absolute; /* Absolute positioning */
    bottom: 30px; /* Position from the bottom */
    text-align: center; /* Center text */
    z-index: 10; /* Layer on top */
}

p {
    font-size: 22px; /* Paragraph font size */
    font-family: 'Malgun Gothic', sans-serif; /* Paragraph font style */
    text-align: center; /* Center text */
    text-shadow: 0 0 20px rgba(0, 255, 204, 0.8), 0 0 30px rgba(0, 255, 204, 0.6); /* Text shadow effect */
    margin: 5px 0; /* Margin adjustments */
}

.score {
    font-size: 28px; /* Score font size */
    color: #00ffcc; /* Cyan color */
    text-shadow: 0 0 20px rgba(0, 255, 204, 0.8), 0 0 30px rgba(0, 255, 204, 0.6); /* Text shadow effect */
}

.symbol {
    font-size: 32px; /* Symbol font size */
    color: #00ccff; /* Teal color */
    position: absolute; /* Absolute positioning */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Adjust position to center */
    pointer-events: none; /* Disable pointer events */
}
